<h1>Sobre o pesquini</h1>
<h2>O sistema pesquini visa disponibilizar as informaçoes sobre empresas inidôneas de forma mais interativa e atrativa por meio de elementos visuais ,como gráficos, tabelas, rankings, mapas, entre outros, para a população em geral.</h2>