<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <h1>Pesqu<strong><span class="color">Ini</span></strong></h1>
      <p class="lead"><strong>Pesquisa</strong> de empresas <strong>Inidôneas</strong></p>
    </div>

    <div class="content_search">

      <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :corporate_name_or_cnpj_cont, class: "form-control input-lg", placeholder: "Digite nome ou CNPJ da empresa", placeholder: "Digite nome ou CNPJ da empresa"%>
        <span class="input-group-btn">
          <%= f.button type: "submit",  class: "btn btn-lg btn-r" do %>
            <i class="fa fa-search fa-lg"></i>
          <% end %>
        </span>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- About Empresas
==========================================-->
<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'empresa_1.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4>O que são </h4>
            <h2>empresas <strong>inidôneas</strong> ?</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro">As empresas que constam como sendo inidôneas são aquelas que receberam sanções que tenham como efeito restrição ao direito de participar em licitações ou de celebrar contratos com a Administração Pública. Algumas das sanções que uma empresa pode sofrer:</p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Suspensão</strong> <em> temporária</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Declaração</strong> <em> de inidoneidade</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Impedimento</strong><em> de licitar e contratar</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Proibição</strong> <em> de participar de licitações e de contratar</em>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

