  <span class="division"> <hr> </span>
  <span class="division"> <hr> </span>

  <div class="container">

  <h4>Conheça as sanções que uma empresa pode sofrer e seus motivos: </h4>
  <span class="division"> <hr> </span>
  <h5> Suspensão temporária (Lei de Licitações)</h5>

  <h6>-Art. 87, inciso III, da Lei nº 8.666, de 1993: </h6>
  <h6>Art. 87.  Pela inexecução total ou parcial do contrato a Administração poderá, garantida a prévia defesa, aplicar ao contratado as seguintes sanções:
  III - suspensão temporária de participação em licitação e impedimento de contratar com a Administração, por prazo não superior a 2 (dois) anos;</h6>
  <h6>-Obs.: Art. 88 da Lei nº 8.666, de 1993: </h6>
  <h6>Art. 88.  As sanções previstas nos incisos III e IV do artigo anterior poderão também ser aplicadas às empresas ou aos profissionais que, em razão dos contratos regidos por esta Lei:
  I - tenham sofrido condenação definitiva por praticarem, por meios dolosos, fraude fiscal no recolhimento de quaisquer tributos;
  II - tenham praticado atos ilícitos visando a frustrar os objetivos da licitação;
  III - demonstrem não possuir idoneidade para contratar com a Administração em virtude de atos ilícitos praticados.</h6>

<span class="division"> <hr> </span>

<h5> Declaração de inidoneidade (Lei de Licitações)</h5>
<h6>-Art. 87, inciso IV, da Lei nº 8.666, de 1993: </h6>
<h6> Art. 87.  Pela inexecução total ou parcial do contrato a Administração poderá, garantida a prévia defesa, aplicar ao contratado as seguintes sanções:
  IV - declaração de inidoneidade para licitar ou contratar com a Administração Pública enquanto perdurarem os motivos determinantes da punição ou até que seja promovida a reabilitação perante a própria autoridade que aplicou a penalidade, que será concedida sempre que o contratado ressarcir a Administração pelos prejuízos resultantes e após decorrido o prazo da sanção aplicada com base no inciso anterior.</h6>
<h6>-Obs.: Art. 88 da Lei nº 8.666, de 1993: </h6>
<h6>Art. 88.  As sanções previstas nos incisos III e IV do artigo anterior poderão também ser aplicadas às empresas ou aos profissionais que, em razão dos contratos regidos por esta Lei:
  I - tenham sofrido condenação definitiva por praticarem, por meios dolosos, fraude fiscal no recolhimento de quaisquer tributos;
  II - tenham praticado atos ilícitos visando a frustrar os objetivos da licitação;
  III - demonstrem não possuir idoneidade para contratar com a Administração em virtude de atos ilícitos praticados.</h6>
  </div>

   <span class="division"> <hr> </span>



