<!--
File: _back_button.html.erb
Purpose: This partial creates a "back" button to be used in other views
License : LGPL. No copyright.
!-->

<div class = "back_button">
  <%= link_to(statistics_path) do %>
    <i class="fa fa-arrow-circle-left fa-3x"></i>
  <% end %>
  <br><br>
</div>
