<!--
File: _sanction_by_state.html.erb
Purpose: This partial creates the chart for sanctions by state
License : LGPL. No copyright.
!-->

<%= high_chart("sanjana", @chart) %>
  <h3 align = "center"><%= @titulo %></h3>
<div id="sanjana" style="height: 200px"></div>
