<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'empresa_1.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong>Estados </strong>com mais sanções</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro">Nesse gráfico estão disponiveis as informações sobre a quantidade de sanções que cada unidade federativa brasileira recebeu desde o começo da obtenção de dados.</p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a href ="more"><em>Clique aqui para ser redirecionado para a página.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'empresa_1.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong>Estados </strong>com mais sanções</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro">Nesse gráfico estão disponiveis as informações sobre a quantidade de sanções que cada unidade federativa brasileira recebeu desde o começo da obtenção de dados.</p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a href ="more"><em>Clique aqui para ser redirecionado para a página.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


