<!--
File: most_sanctioned_ranking.html.erb
Purpose: View that shows ranking with enterprises with most sanctions
License : LGPL. No copyright.
!-->

<div class="container">
  <%= render 'back_button' %>
  <div id="titulo_ranking">
    <% sanction_ranking = "Ranking de empresas com mais sanções" %>
    <h2><%= sanction_ranking %></h2>
    <hr>
  </div>
  <% @enterprise_group.each_with_index do |count, position| %>
    <% quantity = @enterprise_group_count[position]%>
    <% position_string = "#{position + 1} ) " %>
    <h3><%= position_string %><%= link_to "Grupo de Empresas com #{count} sanções - (#{quantity})", controller: 'statistics', action: 'enterprise_group_ranking', sanctions_count: count %><br></h3>
  <% end %>
</div>
